.Backspace {
  flex: 1 0 auto;
}

.Tab {
  width: 100px;
}

.Backslash {
  flex: 1 0 auto;
}

.CapsLock {
  width: 120px;
}

.Enter {
  flex: 1 0 auto;
}

.ShiftLeft {
  width: 160px;
}

.ShiftRight {
  flex: 1 0 auto;
}

.ControlLeft {
  width: 100px;
}

.AltLeft {
  width: 100px;
}

.Space {
  flex: 1 0 auto;
}
